:root {
    background: indigo;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.app {
    max-width: 900px;
    margin: auto;
}

.titleBox {
    margin: auto;
}

.title {
    font-size: 300%;
    color: rgb(234, 204, 255);
}

.star {
    animation: rotate 10s ease-in-out infinite;
    padding: 15px;
}

.star_img {
    width:60px;
}

  @keyframes rotate{
    from{ transform: rotate(-20deg); }
    50% { transform: rotate(20deg); }
    to{ transform: rotate(-20deg); }
  }

.selectFiles {
    background-color: mediumpurple;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.file-drop-zone {
    display: flex;
    width: 100%;
    border: 3px dotted #fb275d;
    align-items: center;
    margin-bottom: 2px;
}

.hover {
    border-style: solid;
    background-color: #00ca71;
}

input::file-selector-button {
    font-weight: bold;
    color: gold;
    padding: 0.5em;
    border: 5px solid green;
    border-radius: 3px;
    background-color: purple;
}