:root {
    background: indigo;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.app {
    max-width: 900px;
    margin: auto;
    padding: 15px;
}

.titleBox {
    margin: auto;
}

.title {
    font-size: 300%;
    color: #f4e6ff;
}

.star {
    animation: rotate 10s ease-in-out infinite;
    padding: 15px;
}

@keyframes rotate {
    from{ transform: rotate(-20deg); }
    50% { transform: rotate(20deg); }
    to{ transform: rotate(-20deg); }
}

.star_img {
    width:60px;
}

.file-drop-zone {
    width: 100%;
}

.selectFilesInput {
    font-weight: bold;
    width: 100%;
}

.file-drop-zone input::file-selector-button {
    font-weight: bold;
    font-size: x-large;
    color: gold;
    padding: 10px;
    width: 100%;
    border: 5px solid green;
    border-radius: 3px;
    background-color: purple;
}

.file-drop-zone.hover input::file-selector-button {
    background-color: bisque;
}